<p>roles works!</p>

@if (isLoading == true) {
  <div class="row">
    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
}@else {

  <div class="row">
    <div class="col-4">
      <ul>
        <li *ngFor="let r of allRoles">{{r.role}}</li>
      </ul>
    </div>
  
    <div class="col-4">
      <select>
          <option *ngFor="let role of allRoles" [value]="role.roleId">{{role.role}}</option>
      </select>
    </div>
  </div>
  
  <div class="row">
    <div class="col-6">
      <table class="table table-striped">
        <thead>
          <th>No</th>
          <th>Role Position</th>
        </thead>
        <tbody>
          <tr *ngFor="let role of allRoles; let no=index">
            <td>{{no}}</td>
            <td>{{role.role}}</td>
          </tr>
         
        </tbody>
      </table>
    </div>
  </div>
}


<!--
<div class="row">
  <div class="col-5">
    <p>Name : {{name}}</p>
  </div>
  <div class="col-5">
    <p>Version : {{version}}</p>
  </div>
  <div class="col-5">
    <p>Active: {{isActive}}</p>
  </div>
  <div class="col-5">
    <p>Today Date: {{currentDate}}</p>
  </div>
  <div class="col-5">
    <p>{{selectedState}}</p>
  </div>

  <div class="row">
    <div class="col-3">
      <input type="text" [value]="name" class="form-control">
    </div>
    <div class="col-3">
      <input [type]="inputType" />
    </div>
    <div class="col-3">
      <input type="text" [(ngModel)]="name" class="form-control"/>
    </div>
    <div class="col-3">
      <select [(ngModel)]="selectedState">
         <option value="Math">Math</option>
         <option value="English">English</option>
         <option value="Physics">Physics</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <button class="btn btn-success" (click)="showWelcomeMsg()">Show welcome</button>
    </div>
    <div class="col-3">
      <button class="btn btn-success" (click)="showAlertMessage(name)">Show message</button>
    </div>
  </div>
</div> -->








